<form action="/auth/register" method="POST">
<input type="text" name="username" placeholder="Username" value="{{username}}">
<br><br>
<input type="text" name="password" placeholder="Password" value="{{password}}">
<br><br>
<input type="submit" value="Submit">
</form>
